<h2>Individual #{{model.id}}</h2>

<h3>Deleterious variants</h3>

<div>
  {{#each variant in model.deleterious}}
    <div>
      <a style="cursor: pointer" {{action goto variant.Start}}>{{variant.cOSMIC.GeneName}} ({{variant.Start}} - {{variant.End}})</a>
    </div>
  {{/each}}
</div>

<h3>Variants</h3>

<div>
  {{input type="number" placeholder="Start" autofocus="autofocus" min="0" step="1000" value=variantRangeStart}}
  -
  {{input type="number" placeholder="End" min="0" step="1000" value=variantRangeEnd}}

  <div style="line-height: 0; margin-top: 12px;">
    {{view App.NucleotidesView start=variantRangeStart end=variantRangeEnd variants=variants}}
  </div>

  {{#if showcaseVariant}}
    <table class="table table-bordered table-striped table-condensed" style="width: 400px;margin-top: 12px;">
      <tbody>
        <tr>
          <th>Reference sequence</th>
          <td>{{showcaseVariant.ReferenceSequence}}</td>
        </tr>
        <tr>
          <th>Variant sequence</th>
          <td>{{showcaseVariant.VariantSequence}}</td>
        </tr>
        <tr>
          <th>Strand</th>
          <td>{{showcaseVariant.Strand}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{showcaseVariant.Type}}</td>
        </tr>
        <tr>
          <th>Range</th>
          <td>{{showcaseVariant.Start}} - {{showcaseVariant.End}}</td>
        </tr>

        <tr>
          <th>Variant frequency</th>
          <td>
            {{#if showcaseVariant.tHOUSANDGENOMES}}
              {{showcaseVariant.tHOUSANDGENOMES.VariantFrequency}}
            {{else}}
              Low
            {{/if}}
          </td>
        </tr>

        {{#if showcaseVariant.cOSMIC}}
          <tr>
            <th>Gene name</th>
            <td>{{showcaseVariant.cOSMIC.GeneName}}</td>
          </tr>
          <tr>
            <th>Primary site</th>
            <td>{{showcaseVariant.cOSMIC.PrimarySite}}</td>
          </tr>
          <tr>
            <th>Site subtype</th>
            <td>{{showcaseVariant.cOSMIC.SiteSubtype}}</td>
          </tr>
          <tr>
            <th>Cosmic strand</th>
            <td>{{showcaseVariant.cOSMIC.Strand}}</td>
          </tr>
          <tr>
            <th>Primary histology</th>
            <td>{{showcaseVariant.cOSMIC.PrimaryHistology}}</td>
          </tr>
          <tr>
            <th>Histology subtype</th>
            <td>{{showcaseVariant.cOSMIC.HistologySubtype}}</td>
          </tr>
          <tr>
            <th>Somatic status</th>
            <td>{{showcaseVariant.cOSMIC.SomaticStatus}}</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  {{/if}}
</div>
